@import '../../styles/index.scss';

.item {
  display: flex;
  min-width: 1200px;
  justify-content: space-around;
  align-items: center;

  &__photo {
    min-width: 500px;
    padding-left: 20px;
  }

  &__content {
    flex-shrink: 1;
    flex-basis: 600px;
  }

  &__title{
    color: $alternativeFontColor;
    font-weight: 400;
    padding-bottom: 15px;
  }

  &__description{
    padding-bottom: 40px;
  }
  
  &__price{
    font-weight: 500;
    font-size: 23px;
  }

  .wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
  }
}