@import '../../styles/index.scss';

.header {
  display: flex;
  justify-content: space-between;
  padding: 40px 30px;
  background-color: $headerBackground;
  // position: fixed;
  // top: 0;
  // width: 100%;

  &__basketBtn {
    cursor: pointer;
  }

  &__logoutBtn {
    background: none;
    cursor: pointer;
    border: 1px solid $bordersColor;
    color: $alternativeFontColor;
    width: 200px;

    &:hover {
      background-color: $alternativeBackground;
      color: $mainFontColor;
    }
  }

  .wrapper {
    display: flex;
    gap: 30px;
  }
}